 body
 {
   text-align: left;
   background-image: url("giphy.gif");
   color: black;
 }

 li
 {
   list-style: none;
   text-align: left;
 }

 .main_content
 {
   margin: auto;
   width: 50%;
   background-color: white;
 }

.ads
{
  margin-left: 80px;
}
