body
{
  border-top: 100px solid grey;
  border-left: 100px solid grey;
  border-right: 100px solid grey;
  background-image: url("hackerman.gif");
  background-size: cover;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 100px 10px !important;
}
.border
{
  position: fixed;
  bottom: 0px;
  width: 90%;
  height: 150px;
  background-color: grey;
  margin-bottom: 8px;
}
li
{
  list-style: none;
  float:right;
  padding: 5px;
}
a
{
  color:black
}
a:hover
{
    color: lightgrey;
}
h2
{
    color:#ff30fd;
}
p
{
  float: left;
  position: fixed;
  left: 110px;
  /*left: 50%;
  top: 81px;*/
  color:#ff30fd;
}
.logo
{
  position : fixed;
  bottom: 20px;
  width: 15%;
  height: 25%;
}
